/* @import './base.css'; */


#app {
  
  margin: 0 ;
  padding: 0;
  font-weight: normal;
  /* background: radial-gradient(ellipse at bottom, #1b2735 1000%, #090a0f 100%); */
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 40%, rgba(253,53,36,1) 50%, rgba(252,176,69,1) 100%);

}


main{
  top: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  background: radial-gradient(ellipse at bottom, #1b2735 1000%, #090a0f 100%);
}
.body{
  position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside {
  width: 600px;
  display: flex;
  position: relative;
  align-items: center;
  /* align-items: center; */
  flex-direction: column;
}
.section {
  position: relative;
  width: 93%;
}

.card1 {
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 25px 10px 25px 6px;
  border-radius: 6px;
  box-shadow: 1px 5px 8px 1px #0e0e0e87;
  min-width: 309px;
  margin-bottom: 6px;
}

.linha {
  position: relative;
  display: flex
;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0px 6px 0px 6px;
  align-items: center;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1); /* Transparente */
  backdrop-filter: blur(10px); /* Efeito de vidro */
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: rgba(255, 255, 255, 0.4);
}